.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* Align cards to the left */
}


.fw-bold {
  font-weight: bold;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.title {
  font-size: 3.75rem;
  margin: 0.3rem;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.space-between {
  justify-content: space-between;
}

.liststyle {
  list-style: none;
}

button {
  background-color: #378039;
  border: none;
  color: white;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 1s ease;
}

button:hover {
  background-color: #1c461e;
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 20px;
}

/* Card header */
.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.75rem 1rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  color: black;
}

/* Card image */
.card img {
  height: 120px;
  width: auto;
  object-fit: cover;
}

/* Card body */
.card-body {
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  color: black;
}

/* Card footer */
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  background-color: #f8f9fa;
  border-top: 1px solid #e0e0e0;
  width: 100%;
}

/* Card footer price */
.card-footer h4 {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0;
  color: black;
}

.new-navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}

.new-navbar-brand {
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.new-navbar-toggle {
  display: none;
}

.new-navbar-toggler {
  cursor: pointer;
}

.new-navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.new-navbar-nav {
  list-style: none;
  display: flex;
}

.new-nav-item {
  margin-right: 15px;
}

.new-nav-link {
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.new-nav-link:hover {
  opacity: 1;
}

.new-nav-link.active {
  opacity: 1;
}